body {
  font-size: 16px;
}

p {
  font-size: 2rem;
  font-family: 'Red Rose', cursive;
}

#box {
  background-color: blue;
  width: 200px;                    <!This can also be expresed in a percent>
  height: 25px;
  padding: 20px;
  border: 2px solid red;
  margin: 10px auto 10px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

#box2 {
  background-color: aquamarine;
  width: 200px;
  height: auto;
  border: 2px dashed black;
  margin: 10px auto 10px auto;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.fruits {
  color: green;
}

.meats{
  color: red;
}

.keypoint {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
